body{
    height: 100%;
    width: 100%;
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 16px 32px;
}

.wrapper{
    min-height: 400px;
    padding: 16px 0;
    position: relative;
}

.wrapper canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

